parameters:
    parallel:
        jobSize: 20
        maximumNumberOfProcesses: 16
        minimumNumberOfJobsPerProcess: 2
        processTimeout: 300.0
    excludes_analyse:
        - vendor/
    level: 3